---
version: 2
interactions:
    - id: 0
      request:
        host: add-skill.vercel.sh
        form:
            skills:
                - skill-creator
            source:
                - anthropics/skills
        headers:
        url: https://add-skill.vercel.sh/audit?source=anthropics%2Fskills&skills=skill-creator
        method: GET
      response:
        body: '{"skill-creator":{"ath":{"risk":"safe","analyzedAt":"2026-03-07T07:58:45.726Z"},"socket":{"risk":"safe","alerts":0,"score":90,"analyzedAt":"2026-03-18T16:47:53.813Z"},"snyk":{"risk":"low","analyzedAt":"2026-03-07T07:58:17.402388+00:00"}}}'
        headers:
            Content-Type:
                - application/json
            X-Matched-Path:
                - /audit
            X-Vercel-Cache:
                - STALE
            X-Vercel-Id:
                - sin1::iad1::d9rcq-1775392792651-9d8f8069a162
        status: 200 OK
        code: 200
        duration: 306.836583ms
