---
version: 2
interactions:
    - id: 0
      request:
        host: skills.sh
        form:
            limit:
                - "10"
            q:
                - xyznonexistent99999
        headers:
        url: https://skills.sh/api/search?q=xyznonexistent99999&limit=10
        method: GET
      response:
        body: '{"query":"xyznonexistent99999","searchType":"fuzzy","skills":[],"count":0,"duration_ms":52}'
        headers:
            Content-Type:
                - application/json
            X-Matched-Path:
                - /api/search
            X-Vercel-Cache:
                - MISS
            X-Vercel-Id:
                - sin1::iad1::mfz2v-1775392792111-3cd5e042b226
        status: 200 OK
        code: 200
        duration: 387.124125ms
