---
version: 2
interactions:
    - id: 0
      request:
        host: skills.sh
        form:
            limit:
                - "10"
            q:
                - web design
        headers:
        url: https://skills.sh/api/search?q=web+design&limit=10
        method: GET
      response:
        body: '{"query":"web design","searchType":"semantic","skills":[{"id":"vercel-labs/agent-skills/web-design-guidelines","skillId":"web-design-guidelines","name":"web-design-guidelines","installs":210639,"source":"vercel-labs/agent-skills"},{"id":"github/awesome-copilot/web-design-reviewer","skillId":"web-design-reviewer","name":"web-design-reviewer","installs":8673,"source":"github/awesome-copilot"},{"id":"wshobson/agents/web-component-design","skillId":"web-component-design","name":"web-component-design","installs":4676,"source":"wshobson/agents"},{"id":"jezweb/claude-skills/web-design-patterns","skillId":"web-design-patterns","name":"web-design-patterns","installs":463,"source":"jezweb/claude-skills"}[...]
